/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
* This was done while trouble shooting the bug that was preventing CSS and JS from working sufficiently on Apple devices. 
* See README.md for more details
*/

html {
    height: 100%;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgb(0, 105, 78)), color-stop(75%, rgb(68, 153, 94)));
    background-image: -o-linear-gradient(top left, rgb(0, 105, 78), rgb(68, 153, 94) 75%);
    background-image: linear-gradient(to bottom right, rgb(0, 105, 78), rgb(68, 153, 94) 75%);
}
/*---------------------------------------------------header*/

header {
    position: absolute;
}

/*---------------------navbar*/

.navbar {
    z-index: 10;
    width: 100vw;
    position: -webkit-sticky;
    position: sticky;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: white;
    text-decoration: none;
}

.logo a {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.logo a:hover {
    color: rgb(201, 197, 197);
}

/* includes arrow icon in footer */
.fas {
    color: white;
    font-size: 2rem;
}

.fas:hover {
    color: rgb(201, 197, 197);
}

.navbar-collapse {
    text-align: right;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.nav-link:hover {
    color: rgb(201, 197, 197);
}

/*---------------------------------------------------home-page*/

#home-screen {
    height: 100vh;
    overflow: hidden;
}

#pics-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/*------------------------------------images*/
/*---------------------grass*/

#grass {
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition-delay: 3s;
         -o-transition-delay: 3s;
            transition-delay: 3s;
}

#grass img {
    height: 100%;
    min-width: 100%;
}

/*---------------------flower-bed*/

#flower-bed {
    width: 100px;
    height: 50vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition-delay: 4s;
         -o-transition-delay: 4s;
            transition-delay: 4s;
}

#soil {
    height: 100%;
}

#gravel {
    height: 52.5vh;
    width: 115px;
    top: 0;
    position: absolute;
    overflow: hidden;
    -webkit-transition-delay: 4s;
         -o-transition-delay: 4s;
            transition-delay: 4s;
}

#gravel img {
    height: 50%;
    width: 400%;
}

#plant-1 {
    width: 70px;
    position: absolute;
    top: 0;
}

#flower-1 {
    width: 70px;
    position: absolute;
    top: 25%;
}

#plant-2 {
    width: 70px;
    position: absolute;
    top: 42%;
}

#flower-2 {
    width: 50px;
    position: absolute;
    bottom: 20%;
    z-index: 8;
}

#flower-3 {
    width: 60px;
    position: absolute;
    bottom: 0;
}

.fb-element img {
    width: 100%;
}

/*---------------------decking*/

#decking {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 150px;
    overflow: hidden;
    -webkit-transition-delay: 6s;
         -o-transition-delay: 6s;
            transition-delay: 6s;
}

#decking img {
    position: absolute;
    height: 100%;
    width: 250%;
}

#deck-2 {
    top: 0;
    right: 0;
}

/*---------------------path*/

#path {
    width: 50%;
    position: absolute;
    left: 42%;
}

.stone {
    width: 50px;
    position: absolute;
    -webkit-transition-delay: 4.5s;
         -o-transition-delay: 4.5s;
            transition-delay: 4.5s;
}

#stone-1 {
    bottom: 10px;
    left: 60%;
}

#stone-2 {
    bottom: 100px;
    left: 40%;
}

#stone-3 {
    bottom: 200px;
    left: 25%;
}
#stone-4 {
    bottom: 300px;
    left: 15%;
}
#stone-5 {
    bottom: 400px;
    left: 6%;
}

#stone-6 {
    bottom: 500px;
    left: 2%;
}

#stone-7 {
    bottom: 600px;
    left: 2%;
}

/*---------------------tree-bush*/

#tree-bush {
    position: absolute;
    top: 0;
    right: -80px;
    -webkit-transition-delay: 6s;
         -o-transition-delay: 6s;
            transition-delay: 6s;
}

#bush {
    top: 20px;
    width: 250px;
    height: 52.5vh;
}

#bush img {
    width: 100%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

#tree {
    width: 65vw;
}

#tree img {
    width: 100%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

/*------------------------------------callout*/

#callout {
    position: absolute;
    width: 100%;
    top: 50vh;
    z-index: 10;
}

#callout h1 {
    width: 100%;
    color: white;
    font-size: 14px;
    text-shadow: 0 0 20px black;
    text-align: center;
    margin-bottom: 10vh;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
}
#callout span {
    width: 100%;
    text-align: center;
    display: block;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
}

#callout span a {
    text-decoration: none;
    color: white;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgb(0, 105, 78)), color-stop(75%, rgb(68, 153, 94)));
    background-image: -o-linear-gradient(top left, rgb(0, 105, 78), rgb(68, 153, 94) 75%);
    background-image: linear-gradient(to bottom right, rgb(0, 105, 78), rgb(68, 153, 94) 75%);
    border: 1px solid white;
    border-radius: 23px;
    padding: 10px 20px;
}

#callout span a:hover {
    background-image: -webkit-gradient(linear, left top, right bottom, from(75%, rgb(68, 153, 94)), color-stop(rgb(0, 105, 78)));
    background-image: -o-linear-gradient(top left, rgb(68, 153, 94), rgb(0, 105, 78) 75%);
    background-image: linear-gradient(to bottom right, rgb(68, 153, 94), rgb(0, 105, 78) 75%);
}

#overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, .1);
    position: absolute;
    z-index: 9;
}

/*------------------------------------transitions*/
/*
* .top, .bottom, grassBottom .left, and .right classes position home page elements outside of viewport
* .swoop class is added to each home page element on page load by the swoopIn() function in index.js, and gradually positions elements within the viewport
*/
.top {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition-duration: 700ms;
         -o-transition-duration: 700ms;
            transition-duration: 700ms;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.top.swoop {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.bottom {
    -webkit-transform: translateY(2000%);
        -ms-transform: translateY(2000%);
            transform: translateY(2000%);
    -webkit-transition-duration: 1400ms;
         -o-transition-duration: 1400ms;
            transition-duration: 1400ms;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.grassBottom {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition-duration: 800ms;
         -o-transition-duration: 800ms;
            transition-duration: 800ms;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.bottom.swoop {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.grassBottom.swoop {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.left {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition-duration: 700ms;
         -o-transition-duration: 700ms;
            transition-duration: 700ms;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.left.swoop {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.right {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition-duration: 700ms;
         -o-transition-duration: 700ms;
            transition-duration: 700ms;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.right.swoop {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

/*---------------------------------------------------studio*/
#studio {
    width: 100%;
    height: 90vh;
    position: relative;
}

/*------------------------------------img-menu*/
/*---------------------header*/
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

#header-container {
    max-height: 100%;
}

#header-container h2 {
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: white;
}

#header-container p {
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: white;
}

/*---------------------menu*/
#menu {
    width: 100%;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: visible;
}

#menu-items {
    height: 90%;
    overflow: auto;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/*---------------------menu-item-settings*/
.item-container {
    min-width: 80px;
    max-width: 80px;
    height: 90%;
    max-height: 80px;
    margin: 3px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu-item {
    position: relative;
    width: 100%;
    max-height: 90%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    background-size: cover;
}

.menu-item img {
    width: 300%;
    max-height: 90%;
    top: 0;
    background-color: white;
}

/*---------------------individual-settings*/
#menu-bush-1 img {
    -webkit-transform: translate(-50%, -13%);
        -ms-transform: translate(-50%, -13%);
            transform: translate(-50%, -13%);
}

#menu-bush-2 img {
    -webkit-transform: translate(-50%, -20%);
        -ms-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
}

#menu-flower-1 img {
    -webkit-transform: translate(-30%, -20%);
        -ms-transform: translate(-30%, -20%);
            transform: translate(-30%, -20%);
}

#menu-flower-2 img, #menu-flower-3 img {
    -webkit-transform: translate(-25%, -20%);
        -ms-transform: translate(-25%, -20%);
            transform: translate(-25%, -20%);
}

#menu-grass img {
    width: 1500%;
}

#menu-gravel img {
    width: 800%;
}

#menu-path img  {
    width: 100%;
}

#menu-plant-1 img {
    width: 200%;
    -webkit-transform: translate(-25%, -27%);
        -ms-transform: translate(-25%, -27%);
            transform: translate(-25%, -27%);
}

#menu-plant-2 img {
    width: 200%;
    -webkit-transform: translate(-25%, -17%);
        -ms-transform: translate(-25%, -17%);
            transform: translate(-25%, -17%);
}

#menu-tree-1 img, #menu-tree-2 img {
    width: 200%;
    -webkit-transform: translate(-30%, -29%);
        -ms-transform: translate(-30%, -29%);
            transform: translate(-30%, -29%);
}

/*---------------------hover-settings*/
.label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
        -ms-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
    color: white;
    font-size: 10px;
    display: none;
}

.img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 105, 78, .5)), color-stop(75%, rgba(68, 153, 94, .5)));
    background-image: -o-linear-gradient(top left, rgba(0, 105, 78, .5), rgba(68, 153, 94, .5) 75%);
    background-image: linear-gradient(to bottom right, rgba(0, 105, 78, .5), rgba(68, 153, 94, .5) 75%);
    display: none;
}

.menu-item:hover .label {
    display: block;
}

.menu-item:hover .img-overlay {
    display: block;
}

/*---------------------------------------------------canvas*/
#canvas {
    background: white;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    position: relative;
}

/*------------------------------------canvas-img-settings*/
/* 
* canvas images will only appear on canvas once user selects a menu item 
* insertImg() function in index.js inserts the image of each menu item onto canvas once that menu item is clicked
*/
.img-container {
    margin-top: 5px;
    left: 15px;
    top: 15px;
    width: 100px;
    position: absolute;
    overflow: hidden;
}

.img-container:hover {
    border: 1px dashed;
}

.canvas-img {
    width: 100%;
    max-height: 100%;
    min-height: 100%;
}

/* .mover, .tl, .tr, .bl, .br are classes for the div elements that are responsible for resizing the images by being targeted in the resize() function in index.js */
.mover {
    position: absolute;
    padding: 0;
    margin: 0;
    visibility: hidden;
    background-color: black;
    width:5px;
    height:5px;
}

.img-container:hover .mover {
    visibility: visible;
}

.tl {
    left: 0;
    top: 0;
    cursor: nw-resize;
}

.tr {
    top: 0;
    right: 0;
    cursor: ne-resize;
}

.bl {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
}

.br {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

/* .remove is the class for the cancel icon element that is responsible for removing the canvas image to which it belongs, by being targeted in onContact() function in index.js */
.remove {
    top: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 16px;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

/*---------------------------------------------------footer*/
#footer {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}
#footer div {
    display: inline-block;
}

#footer .logo {
    margin-right: auto;
    margin-left: 20px;
}

#footer .logo a {
    font-size: 20px;
}

#back-to-top {
    margin-right: 20px;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

#back-to-top a {
    color: white;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    font-size: 10px;
}

#back-to-top a:hover .fa-arrow-circle-up {
    color: rgb(201, 197, 197);
}

.fa-arrow-circle-up {
    font-size: 20px;
}

#back-to-top span {
    display: block;
    clear: both;
}

#back-to-top a:hover {
    color: rgb(201, 197, 197);
}

/*---------------------------------------------------media-queries-width*/

@media(min-width: 412px) {
    #decking img {
        width: 200%;
    }
}

@media(min-width: 550px) {
    #tree-bush {
        top: -60px;
        right: -50px;
    }

    #decking img {
        width: 150%;
    }

    .stone {
        width: 60px;
    }

    #path {
        left: 35%;
    }

    #stone-1 {
        left: 45%;
    }

    #stone-2 {
        bottom: 120px;
    }

    #bush {
        display: none;
    }
}

@media(max-width: 550px) {
    #tree {
        display: none;
    }

    #header-container p {
        font-size: 2.5vw;
    }
}

@media(min-width: 700px) {
    #tree {
        width: 58vw;
    }
}

@media(min-width: 770px) {
    #decking img {
        width: 100%;
    }
}

@media(min-width: 950px) {
    #tree {
        width: 48vw;
    }
}

@media(min-width: 1130px) {
    #decking img {
        width: 75%;
    }
}

/*---------------------------------------------------media-queries-height*/
@media(max-height: 310px) {
    #callout span {
        margin-top: -7px;
    }
}

@media(max-height: 390px) {
    #callout h1 {
        margin: 0;
    }
}

@media(max-height: 405px) {
    #header-container h2 {
        margin: 0;
        font-size: 14px;
    }

    #header-container p {
        font-size: 12px;
    }

}

@media(max-height: 600px) {
    #tree {
        width: 45vw;
    }

    #decking {
        height: 30vh;
    }

    #gravel {
        height: 70vh;
    }

    #gravel img {
        width: 300%;
    }

    #flower-bed {
        height: 67vh;
    }

    .stone {
        width: 45px;
    }
}

@media(min-height: 1025px) {
    #path {
        left: 50%;
    }

    #decking {
        width: 60%;
        height: 15%;
    }

    #decking img {
        width: 125%;
    }

    .stone {
        width: 75px;
    }

    .stone img {
        margin: 10px;
        padding: 10px;
    }

    #tree {
        width: 65vw;
    }

    #gravel {
        width: 15%;
    }

    #flower-bed {
        width: 12%;
    }
}