html {
    height: 100%;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(0, 105, 78), rgb(68, 153, 94) 75%);
}
/*---------------------------------------------------header*/

header {
    position: absolute;
}

/*---------------------navbar*/

.navbar {
    z-index: 10;
    width: 100vw;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
    color: white;
}
.fas {
    color: white;
    font-size: 2rem;
}

.navbar-collapse {
    text-align: right;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    color: white;
}

/*---------------------------------------------------home-page*/

#home-screen {
    height: 100vh;
    overflow: hidden;
}

#pics-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/*---------------------grass*/

#grass {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#grass img {
    height: 100%;
    min-width: 100%;
}

/*---------------------flower-bed*/

#flower-bed {
    width: 100px;
    height: 50vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}

#soil {
    height: 100%;
}

#gravel {
    height: 52.5vh;
    width: 115px;
    top: 0;
    position: absolute;
    overflow: hidden;
}

#gravel img {
    height: 50%;
    width: 400%;
}

#plant-1 {
    width: 70px;
    position: absolute;
    top: 0;
}

#flower-1 {
    width: 70px;
    position: absolute;
    top: 25%;
}

#plant-2 {
    width: 70px;
    position: absolute;
    top: 42%;
}

#flower-2 {
    width: 50px;
    position: absolute;
    bottom: 20%;
    z-index: 9;
}

#flower-3 {
    width: 60px;
    position: absolute;
    bottom: 0;
}

.fb-element img {
    width: 100%;
}

/*---------------------decking*/

#decking {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 150px;
    overflow: hidden;
}

#decking img {
    position: absolute;
    height: 100%;
    width: 250%;
}

#deck-2 {
    top: 0;
    right: 0;
}

/*---------------------path*/

#path {
    width: 50%;
    position: absolute;
    left: 42%;
}

.stone {
    width: 50px;
    position: absolute;
}

#stone-1 {
    bottom: 10px;
    left: 60%;
}

#stone-2 {
    bottom: 100px;
    left: 40%;
}

#stone-3 {
    bottom: 200px;
    left: 25%;
}
#stone-4 {
    bottom: 300px;
    left: 15%;
}
#stone-5 {
    bottom: 400px;
    left: 6%;
}

#stone-6 {
    bottom: 500px;
    left: 2%;
}

#stone-7 {
    bottom: 600px;
    left: 2%;
}

/*---------------------tree-bush*/

#tree-bush {
    position: absolute;
    top: 0;
    right: -80px;
}

#bush {
    top: 20px;
    width: 250px;
    height: 52.5vh;
}

#bush img {
    width: 100%;
    transform: rotate(90deg);
}

#tree {
    width: 65vw;
}

#tree img {
    width: 100%;
    transform: rotate(45deg);
}

/*---------------------------------------------------media-queries-width*/

@media(min-width: 412px) {
    #decking img {
        width: 200%;
    }
}

@media(min-width: 550px) {
    #tree-bush {
        top: -60px;
        right: -50px;
    }

    #decking img {
        width: 150%;
    }

    .stone {
        width: 60px;
    }

    #path {
        left: 35%;
    }

    #stone-1 {
        left: 45%;
    }

    #stone-2 {
        bottom: 120px;
    }

    #bush {
        display: none;
    }
}

@media(max-width: 550px) {
    #tree {
        display: none;
    }
}

@media(min-width: 700px) {
    #tree {
        width: 58vw;
    }
}

@media(min-width: 770px) {
    #decking img {
        width: 100%;
    }
}

@media(min-width: 950px) {
    #tree {
        width: 48vw;
    }
}

@media(min-width: 1130px) {
    #decking img {
        width: 75%;
    }
}

/*---------------------------------------------------media-queries-height*/
@media(max-height: 600px) {
    #tree {
        width: 45vw;
    }

    #decking {
        height: 30vh;
    }

    #gravel {
        height: 70vh;
    }

    #gravel img {
        width: 300%;
    }

    #flower-bed {
        height: 67vh;
    }

    .stone {
        width: 45px;
    }
}

@media(min-height: 1025px) {
    #path {
        left: 50%;
    }

    #decking {
        width: 60%;
        height: 15%;
    }

    .stone {
        width: 75px;
    }

    .stone img {
        margin: 10px;
        padding: 10px;
    }

    #tree {
        width: 65vw;
    }

    #gravel {
        width: 15%;
    }

    #flower-bed {
        width: 12%;
    }
}